.App {
  background-color: #2C2C2C;
  width: 1000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .headline-text {
    /* animation: App-logo-spin infinite 5s linear; */
  }
}

.App-header {
  background-color: #2C2C2C;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headline-text {
  max-height: 300px;
  width: auto;
  margin-left: 134px;
  margin-right: 134px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
  color: FFFAF3;
  opacity: .25;
  font-family: 'Overpass', sans-serif;
  text-indent: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.Carousel-Image {
  height: 200px;
  width: 175px;
}

.slider {
  height: 400px;
  width: 800px;
}

.single-slide {
  max-width: 200px;
  height: auto;
}